body {
    box-sizing: border-box;
}
#showCountDown {
    font-size:8rem;
    margin-top:4rem;
    color:chocolate;
}
button {
    color:white !important;
    font-weight: bold !important;
    letter-spacing: 0.5px;
    transition-duration: 0.5s !important;
}
button i {
    transition-duration: 0.5s;
}
button:hover i{
    transform:rotate(180deg) !important;
}